
raw_data/
**/__pycache__/
.env
.env.yaml
**/frontend/
.gitignore

# System files
.DS_Store
.ipynb_checkpoints
*.pyc
*.swp
build/
dist/
.coverage
*.iml
*.egg-info
*.vscode

# Data files
*.csv
*.sqlite
*.zip
training_outputs/

*.sublime-project
*.sublime-workspace
**/*.code-workspace
