Kaldi.ipynb
Scraping Website.ipynb
raw_data/
.idea/
**/__pycache__/
.env
.env.yaml
*.gitignore

# System files
.DS_Store
.ipynb_checkpoints
*.pyc
*.swp
build/
dist/
.coverage
*.iml
*.egg-info
*.vscode

# Data files
*.rar
*.csv
*.sqlite
*.zip
*.txt
training_outputs/

*.sublime-project
*.sublime-workspace
**/*.code-workspace
