[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
python-dev-tools = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
sklearn = "*"
black = "*"
coverage = "*"
flake8 = "*"
pytest = "*"
yapf = "*"
gcsfs = "*"
google-cloud-storage = "*"
mlflow = "*"
s3fs = "*"
fastapi = "*"
pytz = "*"
uvicorn = "*"
google-cloud-speech = "*"
sentence-transformers = "*"
six = ">=1.14"
joblib = "*"
memoized-property = "*"
termcolor = "*"
python-multipart = "*"
pydub = "*"
soundfile = "*"
bertopic = "*"
protobuf = "==3.20.2"
youtube-transcript-api = "*"
spacy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.15"
