# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
python-dev-tools
# data science
numpy
pandas
scikit-learn


# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
fastapi
pytz
uvicorn

# GOOGLE
google-cloud-speech
google-cloud-storage

# transformers
sentence_transformers


# utilities
six>=1.14
joblib
memoized-property
termcolor
python-multipart
# new
pydub
soundfile
bertopic
protobuf==3.20.2
youtube_transcript_api

#Text process
spacy
scipy
youtube_transcript_api
